@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    flex-direction: column;
    gap: 20px;
    transform: none !important;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      align-items: center;
      text-align: center;
      justify-content: center;
      transform: none !important;
    }

    h1 {
      font-size: 3rem;
      line-height: 88px;
    }

    p {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 40px;
      transform: none !important;
    }

    .emailSvg {
      position: absolute;
      margin: auto;
      width: 100%;
      z-index: -1;

      @include mobile {
        display: none;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        transform: none !important;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
      }

      button {
        padding: 10px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
